<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Realtime Search', root_path, class:'navbar-brand' %>
    <%= link_to 'All Articles', root_path, class: 'nav-link text-dark' %>
  </div>
</nav>