<h1>Hi, customer!</h1>
<div data-controller="search">
  <%= form_with data: { action: 'submit->search#submit' } do |form| %>
    <%= form.text_field :query,
      autocomplete: 'off',
      placeholder: 'Search for you favorite help articles!',
      class: 'form-control px-5 py-2',
      data: { 'search-target': 'query' } %>
  <% end %>
  <ul class="list-group" data-search-target="articles">
  </ul>
</div>