<h1>Hi, customer!</h1>
<div data-controller="search">
  <%= text_field_tag :query,
    nil,
    autocomplete: 'off',
    placeholder: 'Search for you favorite help articles!',
    class: 'form-control px-5 py-2',
    data: { action: 'keyup->search#realtimeSearch' } %>
    <h2 data-search-target="title"></h2>
  <ul class="list-group" data-search-target="articles">
  </ul>
</div>